<a id='menu'></a>
 <hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25"> 

![Analysis Function and DSC Logo](../images/AF_DSC_banner.png)
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.25">

<a id='menu'></a>
# Introduction to Python

## Chapter 7 – Additonal Materials
***
Follow along with the code by running cells as you encounter them
***

This notebook contains supplementary material to the main course. This is material that we couldn’t quite squeeze into the course but might be useful or interesting for you.


*Chapter Overview*

* [Packages and Data](#packages)
 * Packages
 * Data

* [Selecting rows with `loc` and `iloc`](#loc_iloc)

* [Cross Tabs and Pivot Tables](#crosstabs_pivot)
 * Cross Tabs
 * Pivot Tables
 
* [Numpy Select Function](#np_select)

<a id='packages'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Packages and Data

### Packages

As a reminder – we should always import our packages at the top of our script.


In this session we will use 

* pandas, and give it the nickname pd
* numpy and give it the nickname np

Complete this action in the cell below.

In [ ]:
# Import pandas into this cell

You can run the "solution" cell if you need help - or revisit module 2.

Practicing these basic commands helps your retention of the skills.

In [ ]:
%load ../solutions/chapter_6/chaptersixpackages.py

Load in the data:

| variable name | file name  |
| --- | --- |
| animals | animals.csv |
| titanic | titanic.xlsx |

In [ ]:
# Load the Data

You can run the "solution" cell if you need help - or revisit chapter 3.


Practicing these basic commands helps your retention of the skills.

This chapter uses the same data as chapter 6.

You can check your variables are loaded by using `%whos` in Jupyter. In Spyder or other IDE's they should appear in your variable explorer. 

If you struggle with this section – review Chapter 3.

In [ ]:
# Solution - These cells contain answers for the exercises.
# Run once to reveal the code
# Run again to reveal the output

%load ../solutions/chapter_7/chaptersixdata.py

[return to menu](#menu)

<a id='loc_iloc'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Selecting Rows with `loc` and `iloc`

In the section on updating values this course talks about how loc could be used to do the selection we have seen earlier in this course.
`.loc[]` can be used to access groups of rows and columns either by using labels or a Boolean array.

`.loc[row_label, column_label]`

In both the `animals` and `titanic` dataset our row labels are a sequential index starting at 0.

Just as when we indexed lists and tupples in chapter 2 we can use a colon to denote a slice; e.g 0:5 will return rows 0 to 5. Note that in `.loc[]` these numbers are inclusive.

Here this behaviour mimics that of `animals.head()`

In [ ]:
animals.loc[0:5, :] # Rows 0 to 5, all columns

Columns can be selected by passing either an individual value or a list to the columns label.

The list here has been created on the line before – but this can also be done in place within the iloc.

In [ ]:
my_columns = ["IncidentNumber", "FinalDescription" ,  "London"]
animals.loc[0:5, my_columns] # Rows 0 to 5, select columns

Using `.iloc[]` we can also reference columns by numerical position (either positive or negative)

In [ ]:
animals.iloc[0:5, [0, 9 , -1 ]] # Rows 0 to 5, select columns - note this is iloc

If the columns index is left blank all columns are returned.

In [ ]:
animals.loc[0:5]

If you wish to return all rows of a specific column (or set of columns) you must show this by using using a colon for the rows, e.g

In [ ]:
animals.loc[:, "DateTimeOfCall"]

So far we have showed multiple values; but both `.loc[]` and `.iloc[]` can be used to retrieve individual values. This might not be particularly useful in either of these datasets; but would be useful for say extracting a singular value from a time series data set.

In [ ]:
animals.loc[123, "FinalDescription"]

As seen `.loc[]` can also be used as a filter – we used this to update values; but it can also be used to just return them.

To do this we pass a filtering condition to the row index. Again this can be done in place (as shown) or defined separately.

In [ ]:
animals.loc[animals["AnimalGroupParent"] ==  "Rabbit"]

Above we returned all columns but this can be controlled as well.

In [ ]:
animals.loc[animals["AnimalGroupParent"] ==  "Rabbit", # Select rows that match the criteria
            ["IncidentNumber", "SpecialServiceType" ] ] # Select columns

[return to menu](#menu)

<a id='crosstabs_pivot'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Cross Tabs and Pivot Tables

Similar to aggregation with `.groupby()` a cross-tabulation table allows you to generate frequencies for combinations of groups of data.

Crosstabs are often also referred to as 'contingency tables' and 'two-way tables' and, although there may be some subtle distinctions, these all refer to the setting of one categorical variable against another, creating a matrix, and then counting, or otherwise aggregating by cell values.

To create cross-tabulations, you can use the `pd.crosstab()` function.

Let's have a look at a simple example:

In [ ]:
# Crosstab the new variable 'London' by 'AnimalClass'

pd.crosstab(animals['London'],animals['AnimalClass'])

The basic use of .crosstab() requires that you input the row category ('London') and the column category ('AnimalClass'). 

This produces cell counts for the cross-tabulation of the two categories, so there were 433 records that were both 'Inner London' and 'Bird'.

The basic crosstab can be augmented with some additional parameters:

*	margins - set to True to add row and column totals.
*	normalize - create row or column proportions, or overall proportions, rather than frequencies. Keywords are 'index', 'columns' or 'all'.

In [ ]:
# Check out margins
pd.crosstab(animals['London'],animals['AnimalClass'], margins=True)

In [ ]:
# Compute row proportions, with margins. 'index'
pd.crosstab(animals['London'],animals['AnimalClass'], normalize = 'index', margins=True)

In [ ]:
# Compute overall proportions, with margins. 'all'
pd.crosstab(animals['London'],animals['AnimalClass'], normalize = 'all', margins=True)

Finally, by using the 'values' parameter, we can use a column to produce a similar output to the .groupby() on 'Cat' and 'Borough', but in a different data structure.

In [ ]:
pd.crosstab(animals['Borough'],
            animals['Cat'],
            values = animals['IncidentNominalCost(£)'],
            aggfunc='sum').head(6)

[return to menu](#menu)

<hr style="width:70%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:0.75">

## Pivot Tables
Pandas also provides a .pivot_table() function, which acts a bit like the .groupby() and .crosstab() function combined, but is set out in a way that may be more intuitive to people used to using pivot tables in spreadsheets, as opposed to crosstabs or aggregations in statistical software.
Below, it is quite simple to reproduce the two-group aggregation behaviour of groupby and crosstab.

In [ ]:
pd.pivot_table(data = animals,
               values = 'IncidentNominalCost(£)', 
               index='Borough',
               columns='Cat',
               aggfunc='sum',
               fill_value=0).head()

In addition, pivot tables can also behave almost identically to .groupby() if you want an aggregation by a single group (which crosstab cannot do):

In [ ]:
pd.pivot_table(data=animals,values='IncidentNominalCost(£)',
               index='AnimalClass',
               aggfunc='sum')

In this sense, your approach to aggregating data can be led by whichever method you feel more comfortable applying as there is clearly overlap between the functions. In terms of clarity, directed use of .crosstab() or .groupby() may be more instructive to reader than .pivot_table() as pivot table necessarily requires a little more engagement to understand exactly what process data are undergoing.

[return to menu](#menu)

<a id='np_select'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## Numpy Select Function

The `np.select()` function can be used to apply conditions to a DataFrame.
I want to add in a new column with the country people embarked in. For Southampton (S) this would be England, Cherbourg (C) that would be France and for Queenstown (Q) that would be Ireland. There’s also 2 missing values in this column that I want to put a default value “Unknown” in.

While this can all be done in place; here the steps have been split out to make it easier to comprehend.
 
First we need to create some conditions. These are created as a list, and are the same as filtering conditions we looked at in Chapter 4.

Note the default value - our "unknown" will be handled later.

In [ ]:
conditions = [
    (titanic["embarked"] == "S"),
    (titanic["embarked"] == "C"),
    (titanic["embarked"] == "Q"),
]

We then create the values that will be used in our new column – these are in the same order as our conditions we created above.

Note that again the default value - our "unknown" will be handled later.

In [ ]:
values = ["England", "France", "Ireland"]

We can now use these values in our `np.select`.
First we create a new column – `embarked_country`; again if we wanted to we could overwrite an existing column.
`np.select()` takes 3 arguments

*  `condlist = ` the list of our conditions
* `choicelist =` the list of values we want to use when conditions are met
* `default = ` the value that will be used if none of the conditions are met.

In [ ]:
titanic["embarked_country"] = np.select(condlist = conditions, choicelist= values, default= "Unknown")

titanic.sample(10, random_state = 42)

If we use a filter we can see the "Unknown" values show where embarked was `NaN`

In [ ]:
titanic[titanic["embarked_country"] == "Unknown"]

`default = ` is very useful – as it can be set to a column; if none of the values in our `condlist = ` match then it uses the value from an existing cell.

Again this is a very artificial scenario – but I want to label anyone travelling with more than 5 family members on board (sibsp + parch + themselves) as part of a “Big” family. Anyone travelling by themselves as a “None” family on board. For all other family sizes I want to just display the size of the family by referencing the values in the columns.

I’ve used `.loc[]` (see above) to select some specific rows so the effect can be seen.

In [ ]:
family_size = [
    ( (titanic["parch"] + titanic["sibsp"] + 1 ) >= 5 ),
    ( (titanic["parch"] + titanic["sibsp"] + 1 ) == 1 ) ]

family_size_string = ["Big", "None"]

titanic["family_on_board"] = np.select(condlist = family_size,
                                       choicelist= family_size_string,
                                       default= (titanic["parch"] + titanic["sibsp"] + 1 ))

# .loc used here to show one row with each of the values
titanic.loc[ [111,1237,140, 3]]

[return to menu](#menu)

<a id='end'></a>
<hr style="width:100%;height:4px;border-width:0;color:gray;background-color:#003d59; opacity:1">

## End of Chapter

You’ve reached the end of the additional material in this course.

If you feel there’s something that would make a good addition here please let us know!

[return to menu](#menu)